<html>
    <head>
        <title>Curriculo Online</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/estilo.css" />
    <head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.gif" width="120" height="35" alt="">
            </a>
            <div style="height: 4px; width: 1650px"></div>
            <div class="collapse navbar-collapse" id="navbarNav" style="float: right">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <hr NOSHADE style="height: 2px; margin-top: 30px;">
            <div class="header">
                <div style="height: 140px">
                    <img class="foto" src="/images/foto.jpg"/>
                    <div>
                        <h4><%- user.name %></h4>
                        Última atualização do currículo em <%- user.data_modify %>
                    </div>
                </div>
                <div>
                    <span class="lbl_topic">Resumo</span>
                    <hr>
                    <%- user.resume %>
                </div>
            </div>
            <div class="content">
                <table class="dados">
                    <div class="lbl_topic">Nome civil</div>
                    <hr>
                    <tr>
                        <th>Nome</th>
                        <td style="width: 10px"></td>
                        <td><%- user.name %></td>
                    </tr>
                </table>
                <table class="dados">
                    <div class="lbl_topic">Dados pessoais</div>
                    <hr>
                    <tr>
                        <th>Filiação</th>
                        <td style="width: 10px"></td>
                        <td><%- dados.pai || "não identificado" %> e <%- dados.mae %></td>
                    </tr>
                    <tr>
                        <th>Nascimento</th>
                        <td style="width: 10px"></td>
                        <td><%- dados.data_nasc %></td>
                    </tr>
                    <tr>
                        <th>Carteira de Identidade</th>
                        <td style="width: 10px"></td>
                        <td><%- dados.rg %></td>
                    </tr>
                    <tr>
                        <th>CPF</th>
                        <td style="width: 10px"></td>
                        <td><%- dados.cpf %></td>
                    </tr>
                    <tr>
                        <th>Endereço eletrônico</th>
                        <td style="width: 10px"></td>
                        <td><%- dados.email %></td>
                    </tr>
                </table>
                <table class="dados">
                    <div class="lbl_topic">Formação acadêmica/titulação</div>
                    <hr>
                    <% academics.forEach( academic => { %>
                        <tr>
                            <th rowspan="3"><%- academic.inicio %>-<%- academic.fim || "Atual" %></th>
                            <td rowspan="3" style="width: 10px"></td>
                            <td><%- academic.descricao %></td>
                            <tr></tr>
                            <td><%- academic.instituicao %></td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        </div>
    </body>
</html>